<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>University</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3>University List</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/university/showFormForAddUniversity}"
       class="btn btn-primary btn-sm mb-3">
         Add University
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUniversity : ${universities}">

            <td th:text="${tempUniversity.name}" />
            <!-- Add update button/link -->
            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/university/showFormForUpdateUniversity}" method="POST">

                            <input type="hidden" name="universityId" th:value="${tempUniversity.id}" />
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                        </form>
                    </div>

                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/university/deleteUniversity}" method="POST">

                            <input type="hidden" name="universityId" th:value="${tempUniversity.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this University?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>
            <td>
                <a th:href="@{/university/Students/{universityId}(universityId=${tempUniversity.id})}"
                   class="btn btn-primary btn-sm mb-3">
                    Students
                </a>
            </td>

            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>


